@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@700;800&family=Foldit&family=Heebo:wght@800&family=Montserrat:wght@100;400&family=Mooli&family=Phudu:wght@500&family=Poppins&family=Roboto+Slab&family=Roboto:wght@300&family=Tilt+Warp&family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@700;800&family=Foldit&family=Heebo:wght@800&family=McLaren&family=Montserrat:wght@100;400&family=Mooli&family=Phudu:wght@500&family=Poppins&family=Roboto+Slab&family=Roboto:wght@300&family=Tilt+Warp&family=Ubuntu:ital,wght@0,500;1,400;1,500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.form {
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  padding: 5px;
}

.form input, .form textarea{
  text-align: center;
  border: none;
  outline:none;
  resize: none;
  width: 16rem;
  /* font-size: 18px;   */
}


.form button{
  width: 8rem;
  font-weight: bold;
  padding: 3px ;
  border: 2px solid rgb(198, 130, 57);
}

.formm{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.note, .note input, .note textarea{
  width: 17rem;
  outline: none;
  border: none;
  resize: none;
}

.note textarea{
  height: 3.2rem;
}
.note button{
  outline: none;
  border: none;
  background-color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}